body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 200px;
}

nav {
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

.strip {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button.active {
  background-color: #15b7b9;
  color: #fff;
}

/* profile */
.profile-container {
  text-align: left;
  padding: 20px;
}

.profile-container form {
  text-align: left;
}

.profile-container form input[type="text"],
.profile-container form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

.profile-container form input[type="file"] {
  margin-bottom: 20px;
}

.profile-container form button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #15b7b9;
  color: #fff;
  cursor: pointer;
}

.profile-container form button:hover {
  background-color: #0d9092;
}

.add-button {
  margin-top: 10px;
  background-color: #f2f2f2;
  color: #333;
}

/* skills */


/* skills */
.skills-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px; /* Add a gap between columns */
}

.add-form {
  flex: 1;
  max-width: 400px;
  padding: 10px;
}

.form-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-form form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.add-form form input[type="text"],
.add-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

.add-form form button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #15b7b9;
  color: #fff;
  cursor: pointer;
}

.add-form form button:hover {
  background-color: #0d9092;
}

/* lists */
.lists {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.skills-list,
.languages-list {
  flex: 1;
}

.skills-list h3,
.languages-list h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.skills-list ul,
.languages-list ul {
  list-style: none;
  padding: 0;
}

.skills-list li,
.languages-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.skills-list li:hover,
.languages-list li:hover {
  background-color: #f9f9f9;
}

.skills-list span,
.languages-list span {
  font-size: 16px;
}

.delete-button {
  background-color: #f2f2f2;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #e0e0e0;
}

/* footer */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-message {
  font-size: 14px;
}


.add-button {
  background-color: #f2f2f2;
  color: #333;
}

.add-button:hover {
  background-color: #ccc;
}
