body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 200px;
}

nav {
  text-align: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 10px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

.strip {
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Remove the background color */
}

.profile-content {
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  font-size: 28px;
  margin-bottom: 10px;
}

.description-box {
  max-width: 600px;
  margin: 0 auto;
}

.description-box p::after {
  content: "";
  display: block;
  text-align: right;
  font-size: 12px;
  color: #999;
}

.description-box p[data-characters-left="0"]::after {
  color: #ff0000;
}

.projects-container {
  max-width: 960px;
}

.projects-content {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; /* Center the projects */
  align-items: center;
}

.project-card {
  width: 300px;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.project-card p {
  font-size: 14px;
  color: #333;
}

.skills-container {
  max-width: 960px;
}

.skills-content {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; /* Center the skills */
  align-items: center;
}

.skill-card {
  width: 300px;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.skill-card p {
  font-size: 14px;
  color: #333;
}

.add-button {
  text-align: center;
  margin-top: 10px;
}

.add-button a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-button a:hover {
  background-color: #333;
  color: #fff;
}
