<!DOCTYPE html>
<html>
<head>
  <title>JobFolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="{{ url_for('static', filename='logo_transparent.png') }}" alt="Logo">
      </div>
      <nav>
        <ul id="menu">
          <li><a href="{{url_for('get_home') }}">Home</a>
          <li><a href="{{url_for('get_findjobs') }}">Find Jobs</a></li>
          <li><a href="{{url_for('get_portfolio') }}">Portfolio</a>
          <li><a href="{{url_for('get_account') }}">Account</a>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div id="content">
      <div class="content-box">
        <!-- change btn if user is logged in -->
        {% if user_logged_in %}
        <h2 class="content-header">Welcome back, {{ user_first_name }}!</h2>
        <p class="content-text">Great to see you again. Ready to work on your portfolio to achieve your dream job?</p>
        <a href="{{url_for('get_portfolio')}}" class="button">View My Portfolio</a>
          {% else %}
          <h2 class="content-header">Your career starts here.</h2>
        <p class="content-text">Welcome to JobFolio - the perfect platform for entry-level job seekers! We help simplify the job application process by providing a user-friendly web application to create your professional portfolio and apply to entry-level positions with ease. Start your career journey with us today!</p>
          <a href="{{url_for('get_login')}}" class="button">Create an account</a>
        {% endif %}

    </div>
      <img class ="content-image" src="{{ url_for('static', filename='interview.jpg') }}" alt="Image">
      <div class="tutorial-section">
        <h2 class="tutorial-header">What we offer</h2>
        <div class="tutorial-steps">
          <div class="tutorial-step">
            <h3 class="step-title">Unveil Your Potential: Crafting Dynamic Portfolios</h3>
            <p class="step-description">Step into a realm where job searching takes on a new dimension. With our innovative platform, you can go beyond the limitations of traditional job experience. Craft a captivating portfolio that highlights your skills and projects, showcasing your unique strengths to potential employers. Whether you're a fresh graduate or a seasoned professional looking to pivot, our portfolio creation feature empowers you to present your capabilities with confidence.</p>
          </div>
          <div class="tutorial-step">
            <h3 class="step-title">Showcase Your Projects</h3>
            <p class="step-description">Embark on a journey of self-expression through your projects. Our platform liberates you from the constraints of a traditional resume. Share your innovative creations, complete with images, detailed descriptions, and the story behind each project. Employers gain an invaluable insight into your creative process, problem-solving abilities, and tangible achievements – fostering a deeper understanding of your potential impact on their team.</p>
          </div>
          <div class="tutorial-step">
            <h3 class="step-title">Ignite Success through Tailored Matchmaking</h3>
            <p class="step-description">It's more than just finding a candidate; it's about fostering a symbiotic partnership. Our platform's designated matchmaking transcends the ordinary, ensuring that both job seekers and employers embark on a path to triumph. Our sophisticated algorithms analyze more than just skills – they analyze compatibility, values, and aspirations. This results in matches that not only fulfill job roles but also set the stage for long-term success. Embrace a recruitment approach that maximizes potential and propels everyone towards excellence.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-container">
      <p class="footer-message">
        Created by Victoria-Kim Bui, Florian Eppe, and Khanh Linh Pham for Entwicklung von Web-Anwendungen SoSe-2023
      </p>
    </div>
  </footer>
</body>
</html>
