{% extends 'base.html' %}
{% block HEADER %}
	<h2>{% block TITLE %}Lists{% endblock %}</h2>
{% endblock %}
{% block CONTENT %}
<head>
	<style>
	  /* CSS styling for the navigation bar */
	  ul.navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	  }
  
	  ul.navbar li {
		float: left;
	  }
  
	  ul.navbar li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }
  
	  ul.navbar li a:hover {
		background-color: #111;
	  }
	</style>
  </head>
  <body>
	<ul class="navbar">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Find Jobs</a></li>
	  <li><a href="#">My Portfolio</a></li>
	  <li><a href="#">Sign In</a></li>
	</ul>
  </body>
<ul>
{% for list in lists %}
<li>
	<input
		type="checkbox"
		disabled=disabled
		data-id="{{ list.id }}"
		id="{{ list.id }}"
		{% if list.complete %} checked {%endif%}
	>				
	<label for={{ list.id }}>
		<a href="{{ url_for('get_list_todos', list_id=list.id) }}">
			{{ list.name }}</a>
	</label>
</li>
{% endfor %}
</ul>
{% endblock %}
