<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <!-- Menu Bar -->
  <header>
    <div class="container">
      <div class="logo">
        <img src="https://cdn.discordapp.com/attachments/528437729265188864/1110823981398884423/logo_transparent.png">
      </div>
      <nav>
        <ul id="menu">
          <li><a href="{{url_for('get_home') }}">Home</a>
            <li><a href="#">Find Jobs</a></li>
            <li><a href="#">Skill Match</a></li>
            <li><a href="{{url_for('get_portfolio') }}">Portfolio</a>
            <li><a href="{{url_for('login') }}">Login</a>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Login Form -->
  <div class="login-container">
    <div class="container">
      <div class="content">
        <div class="content-box">
          <header>
            <h1 class="content-header">Login</h1>
          </header>
          <form action="#" method="post">
            <div class="form-field">
              <label for="email">Email:</label>
              <input type="email" id="email" placeholder="Enter your email">
            </div>
            <div class="form-field">
              <label for="password">Password:</label>
              <input type="password" id="password" placeholder="Enter your password">
            </div>
            <button>Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
