<!DOCTYPE html>
<html>
<head>
  <title>Edit Portfolio Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='edit_portfolio.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="{{ url_for('static', filename='logo_transparent.png') }}" alt="Logo">
      </div>
      <nav>
        <ul id="menu">
          <li><a href="{{url_for('get_home') }}">Home</a></li>
          <li><a href="{{url_for('get_findjobs') }}">Find Jobs</a></li>
          <li><a href="{{url_for('get_portfolio') }}">Portfolio</a></li>
          <li><a href="{{url_for('get_account') }}">Account</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="button-container">
    <a href="{{url_for('get_portfolio')}}" class="button">View mode</a>
    <a href="{{url_for('get_portfolio_edit')}}" class="button active">Edit mode</a> 
  </div>

  <!-- Edit Profile Section -->
  <div class="strip">
    <h2 class="section-heading">Edit Profile</h2>
    <div class="profile-container">
      <form action="{{ url_for('update_user_profile') }}" method="post" enctype="multipart/form-data">
        <label for="profile_picture">Profile Picture:</label>
        <input type="file" id="profile_picture" name="profile_picture" accept="image/*">
        <br>
        <label for="user_occupation">Title:</label>
        <input type="text" id="user_name" name="user_name" placeholder="Current occupation / title" value="{{ user_name }}">
        <br>
        <label for="user_description">Description:</label>
        <textarea id="user_description" name="user_description" maxlength="500" placeholder="Edit Description (500 characters max.)">{{ user_description }}</textarea>
        <br>
        <button type="submit" class="edit-button">Save</button>
      </form>
    </div>
  </div>

   <!-- Edit Projects Section -->
  <div class="strip">
    <h2 class="section-heading">Edit Projects</h2>
    <a href="#" class="add-button">Add New</a>
    <div class="projects-container">
      <div class="projects-content">
        <!-- Loop through user projects and generate project cards -->
        {% for project in user_projects %}
        <div class="project-card">
          <img src="{{ project.image_url }}" alt="Project Image">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Edit Skills and Languages Section -->
  <div class="strip">
    <h2 class="section-heading">Edit Skills and Languages</h2>
    <a href="#" class="add-button">Add Skill</a>
    <a href="#" class="add-button">Add Language</a>
    <div class="skills-container">
      <div class="skills-content">
        <div class="skills-column">
          <h3 class="column-heading">Skills</h3>
          <!-- Loop through user skills and generate skill cards -->
          {% for skill in user_skills %}
          <div class="skill-card">
            <h3>{{ skill.name }}</h3>
            <p>{{ skill.description }}</p>
          </div>
          {% endfor %}
        </div>
        <div class="skills-column">
          <h3 class="column-heading">Languages</h3>
          <!-- Loop through user languages and generate language cards -->
          {% for language in user_languages %}
          <div class="skill-card">
            <h3>{{ language.name }}</h3>
            <p>{{ language.proficiency }} - {{ language.self_evaluation }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-container">
      <p class="footer-message">
        Created by Victoria-Kim Bui, Florian Eppe, and Khanh Linh Pham for Entwicklung von Web-Anwendungen SoSe-2023
      </p>
    </div>
  </footer>
</body>
</html>