<!DOCTYPE html>
<html>
<head>
  <title>Portfolio Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='portfolio_logged_in.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="{{ url_for('static', filename='logo_transparent.png') }}" alt="Logo">
      </div>
      <nav>
        <ul id="menu">
          <li><a href="{{url_for('get_home') }}">Home</a>
          <li><a href="{{url_for('get_findjobs') }}">Find Jobs</a></li>
          <li><a href="{{url_for('get_portfolio') }}">Portfolio</a>
          <li><a href="{{url_for('get_account') }}">Account</a>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Mode buttons -->
  <div class="button-container">
    <a href="{{url_for('get_portfolio')}}" class="button active">View mode</a>
    <a href="{{url_for('get_portfolio_edit')}}" class="button">Edit mode</a> 
  </div>

    <!-- Profile -->
    <div class="profile-container">
      <div class="profile-picture">
       <img src="{{ user_profile_picture }}" alt="Profile Picture"> 
      </div>
      <div class="profile-content">
        <h1 class="profile-name">{{ user_name }}</h1>
        <h3>{{ user_occupation }}</h3>
        <div class="description-box">
          <p>{{ user_description }}</p>
        </div>
      </div>
    </div>
  
  <!-- My Projects -->
  <div class="strip projects-container">
    <h2 class="section-heading">My Projects</h2>
    <div class="projects-content">
      <div class="projects-container-inner">
        {% if user_projects and user_projects != "No projects added." %}
        {% for project in user_projects %}
        <div class="project-card">
          <img src="{{ project.image_url }}" alt="Project Image">
          <h3>{{ project.title }}</h3> <!-- click -> detail view of project-->
          <p>{{ project.description }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>No projects added.</p>
        {% endif %}
      </div>
    </div>
  </div>
  

  <!-- Languages and Skills -->
  <div class="strip skills-container">
    <h2 class="section-heading">Languages and Skills</h2>
    <div class="skills-content">
      <div class="skills-column">
        <h3 class="column-heading">Skills</h3>
        {% if user_skills and user_skills != "No skills added." %}
        {% for skill in user_skills %}
        <div class="skill-card">
          <h3>{{ skill.name }}</h3>
          <p><strong>{{ skill.proficiency }}</strong></p>
          <p>{{ skill.description }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>No skills added.</p>
        {% endif %}
      </div>
      <div class="skills-column">
        <h3 class="column-heading">Languages</h3>
        {% if user_languages and user_languages != "No languages added." %}
        {% for language in user_languages %}
        <div class="skill-card">
          <h3>{{ language.language_name }}</h3>
          <p><strong>{{ language.proficiency }}</strong></p>
          <p>{{ language.self_evaluation }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>No languages added.</p>
        {% endif %}
      </div>
    </div>
  </div>
    
  <footer>
    <div class="footer-container">
      <p class="footer-message">
        Created by Victoria-Kim Bui, Florian Eppe, and Khanh Linh Pham for Entwicklung von Web-Anwendungen SoSe-2023
      </p>
    </div>
  </footer>
</body>
</html>