<!DOCTYPE html>
<html>
<head>
    <title>Project Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project_form.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo_transparent.png') }}" alt="Logo">
            </div>
            <nav>
                <ul id="menu">
                    <li><a href="{{url_for('get_home') }}">Home</a></li>
                    <li><a href="{{url_for('get_findjobs') }}">Find Jobs</a></li>
                    <li><a href="{{url_for('get_portfolio') }}">Portfolio</a></li>
                    <li><a href="{{url_for('get_account') }}">Account</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="project-forms-container">
        <div class="container">
            <div class="content">
                <div class="content-box">
                    <header>
                        <h1 id="content-header">Project Form</h1>
                    </header>
                    <form action="/submit" method="post" enctype="multipart/form-data">
                        <div class="form-field">
                            <label for="project_name">Project name:</label>
                            <input type="text" id="project_name" name="project_name" placeholder="Enter project name" required>
                        </div>
                        <div class="form-field">
                            <label for="description">Description:</label>
                            <textarea id="description" name="description" rows="4" placeholder="Enter project description" required></textarea>
                        </div>
                        <div class="form-field">
                            <label for="role">Role:</label>
                            <input type="text" id="role" name="role" placeholder="Enter your role" required>
                        </div>
                        <div class="form-field">
                            <label for="url_project">Project-URL:</label>
                            <input type="url" id="url_project" name="url_project" placeholder="Enter project URL" required>
                        </div>
                        <div class="form-field">
                            <label for="picture">Upload image:</label>
                            <input type="file" id="picture" name="picture" accept="image/*" required>
                        </div>
                        <div class="form-field">
                            <label for="duration">Duration:</label>
                            <input type="text" id="duration" name="duration" placeholder="Enter project duration" required>
                        </div>
                        <div class="form-field">
                            <label for="difficulty">Difficulty:</label>
                            <input type="text" id="difficulty" name="difficulty" placeholder="Enter project difficulty" required>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <p class="footer-message">
                Created by Victoria-Kim Bui, Florian Eppe, and Khanh Linh Pham for Entwicklung von Web-Anwendungen SoSe-2023
            </p>
        </div>
    </footer>
</body>
</html>
